<%# app/views/notifications/index.html.erb %>
<h1>我的通知</h1>

<table>
  <thead>
    <tr>
      <th>通知内容</th>
      <th>时间</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @notifications.each do |notification_user| %>
      <%= render partial: 'notification', locals: { notification_user: notification_user } %>
    <% end %>
  </tbody>
</table>

<%= paginate @notifications %>